.container
  .row
    .col-md-3
      .list-group
        %a.list-group-item
          Boite de réception
        %a.list-group-item#sent
          Messages envoyés
        %a.list-group-item
          Corbeille
    .col-md-9
      .panel.panel-default
        .panel-heading
          %h3
            Boite de reception
        .panel-body
          %table.table
            %thead
              %tr
                %th
                  Annonce
                %th 
                  Envoyé le
                %th
                  Option
            %tbody#contenu
= javascript_include_tag "mailboxer"
