.row
  - @annonces.each do |annonce|
    .col-sm-4
      .panel.panel-default
        .panel-body
          .row
            .col-sm-4
              
            - if user_signed_in?
              %a{href: "/annonces/show?id="+ annonce["id"].to_s}= annonce["title"]
              .col-sm-8
                %h3
                  =annonce['price']
                  %i.fa.fa-eur
            -else
              %h2= annonce["title"]

