.row
  - @annonces.each do |annonce|
    .col-sm-4
      .panel.panel-default{style: "box-shadow:none;"}
        .panel-body
          .row
            .col-sm-4
              - if annonce.uploads[0].nil?
                %img
              - else
                = image_tag(annonce.uploads[0].picture(:thumb))            
            - if user_signed_in?
              %a{href: "/annonces/"+ annonce["id"].to_s}= annonce["title"]
              .col-sm-8
                %h3
                  =annonce['price']
                  %i.fa.fa-eur
            -else
              %a{href: "/users/sign_in"}= annonce["title"]
              .col-sm-8
                %h3
                  =annonce['price']
                  %i.fa.fa-eur
.text-center
  = will_paginate @annonces, renderer: BootstrapPagination::Rails              
