:javascript
  function supprimer (id)
  {
    bootbox.confirm("Are you sure?", function(result){
      if(result)
        $.ajax({
          headers: {
            'X-CSRF-Token': $("meta[name='csrf-token']").attr("content")
          },
          url: '/annonces/'+id,
          type: 'DELETE',
          data: {archive: true},
          success: function(result){
            location.href='/annonces/mine'
          }
        });
    })
  }



  function archiver(id)
  {
    bootbox.confirm("Are you sure you want to archive it?",function(result){
      if(result)
        $.ajax({
          headers: {
            'X-CSRF-Token': $("meta[name='csrf-token']").attr("content")
          },
          url: '/annonces/'+id,
          type: 'PATCH',
          data: {archive: true},
          success: function(result){
            location.href='/annonces/mine'
          }
        });
    });
  }

  function activer(id)
  {
    bootbox.confirm("Are you sure you want to unable it?",function(result){
      if(result)
        $.ajax({
          headers: {
            'X-CSRF-Token': $("meta[name='csrf-token']").attr("content")
          },
          url: '/annonces/'+id,
          type: 'PATCH',
          data: {archive: false},
          success: function(result){
            location.href='/annonces/mine'
          }
        });
    });
  }
.row
  - @annonces.each do |annonce|
    .col-sm-4
      .panel.panel-default
        .panel-body
          .row
            .col-sm-4
              %img{src:""+ annonce["url"].to_s, style: "width:80px; height:90px;"}
            - if user_signed_in?
              %p= annonce["title"]
              .col-sm-2
                %button.btn.btn-primary.btn-xs
                  Modifier
              .col-sm-2
                - if annonce["archive"] == false
                  %button.btn.btn-warning.btn-xs{onclick: "archiver("+annonce["id"].to_s+")" }
                    Archiver
                - else
                  %button.btn.btn-warning.btn-xs{onclick: "activer("+annonce["id"].to_s+")" }
                    Activer           
              .col-sm-2
                %button.btn.btn-danger.btn-xs{onclick: "supprimer("+annonce["id"].to_s+")" }
                  Supprimer
            -else
              %h2= annonce["title"]

